

<!-- <form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Ex. Pizza" value="Sushi" [ngStyle]="{ 'background-color': '#fff' }" />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</form> -->
<h1>Listado de personas</h1>
<form class="person-form" [formGroup]="form">
  <legend>Añade una persona</legend>
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Nombre:</mat-label>
    <input
      matInput
      type="text"
      placeholder="nombre"
      value="nombre"
      formControlName="nombre"
      minlength="4"
    />
    <mat-error *ngIf="" [ngStyle]="{ 'color': 'red' }"> </mat-error>
  </mat-form-field>
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Apellidos:</mat-label>
    <input
      matInput
      type="text"
      placeholder="apellidos"
      value="apellidos"
      formControlName="apellidos"
      minlength="4" id="apellidos" name="apellidos"
    />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Género</mat-label>
    <mat-select formControlName="genero">
      <mat-option>Selecciona un género</mat-option>
      <!-- En mat-option deberia poner [value]="i" pero luego al pintarlo me pinta el index en vez de el contenido -->
      <mat-option *ngFor="let gender of genderSelect();let i=index; " [value]="gender">{{gender}}</mat-option>
      
    </mat-select>

  </mat-form-field>
  <div id="form-buttons">
  <button
    mat-button
    type="submit"
    (click)="addPerson()"
    color="primary"
    [disabled]="form.invalid"
  >
    Añadir persona
  </button>

  <button mat-button type="submit" color="primary" [disabled]="form.invalid">
    Enviar
  </button>
</div>
<div id="updated-buttons">
  <button mat-button type="submit" color="primary" (click)="updatePerson()">
    Modificar
  </button>

  <button mat-button type="submit" color="primary" (click)="cancelUpdatePerson()">
    Cancelar
  </button>
</div>
</form>

<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile *ngFor="let person of people">
    <mat-card class="">
      <mat-card-title
        >Nombre: {{ person.nombre }} {{ person.apellidos }}</mat-card-title
      >
      <mat-card-subtitle>Género: {{ person.genero }}</mat-card-subtitle>
      <mat-card-content>
        <p>Contenido</p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button
          mat-button
          type="submit"
          color="primary"
          (click)="editPerson(person)"
        >
          Editar
        </button>
        <button
          mat-button
          type="submit"
          color="primary"
          (click)="deletePerson()"
        >
          Eliminar
        </button>
      </mat-card-actions>
      <mat-card-footer> </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
