body {
  font-family: Arial, Helvetica, sans-serif;
}
header {
  text-align: center;
  margin-top: 40px;
}
h1 {
  color: #651cae;
  font-size: 30px;
}
main {
  max-width: 700px;
  margin: 0 auto 40px;
}

.allVideo {
  /* line-height: 0; */
  text-align: center;
}
#videoUpload {
  margin: 20px auto;
}
#errorMessage .error {
  color: #fff;
  font-size: 12px;
  padding: 7px;
  border: 1px solid red;
  background: red;
  margin: 0;
}
.videoContent {
  position: relative;
  line-height: 0;
}
#loadingMessage {
  width: 100%;
  position: absolute;
  height: 100%;
}
#loadingMessage .loading {
  height: 100%;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#loadingMessage .loading p {
  animation: loadingText 0.5s infinite alternate;
  color: #fff;
}
.loader {
  border: 5px solid #fff;
  border-top: 5px solid #651cae;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: loaderIcon 2s linear infinite;
}

@keyframes loaderIcon {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loadingText {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}
#video {
  width: 100%;
  background: #000;
}
.buttons {
  background: #651cae;
  display: flex;
  justify-content: center;
  display: none;
}
.buttons button {
  background: none;
  border: none;
  color: #fff;
  padding: 20px;
  cursor: pointer;
}
.buttons button:hover {
  color: #333;
}
.buttons i {
  font-size: 20px;
}
