html {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  color: blue;
}
.productTitle {
  background-color: white;
  margin-top: 20px;
  display: inline-block;
}
.tabla {
  width: 100%;
  max-width: 800px;
  margin: auto;
  text-align: left;
}
table {
  width: 100%;
}
thead td,
thead th {
  background: aqua;
  padding: 10px;
}
tbody td,
tbody th {
  padding: 10px;
  background: deepskyblue;
}
h3 {
  text-align: center;
}
