<form class="form-socio" [formGroup]="form">
  <mat-form-field class="form-field" appearance="fill">
    <!-- <mat-label>Nombre:</mat-label> -->
    <input
      matInput
      type="text"
      placeholder="Nombre*"
      value="nombre"
      formControlName="nombre"
      minlength="3"
      required
      #nombre
    />
    <mat-error
      style="color: #fff; background-color: red"
      *ngIf="
        form.controls['nombre'].invalid &&
        (form.controls['nombre'].dirty || form.controls['nombre'].touched)
      "
    >
      <div *ngIf="form.controls['nombre'].hasError('required')">
        El campo nombre es obligatorio.
      </div>
      <div *ngIf="form.controls['nombre'].hasError('minlength')">
        El campo nombre debe tener al menos 3 caracteres.
      </div>
    </mat-error>
  </mat-form-field>
  <button
    mat-button
    type="submit"
    color="primary"
    [disabled]="!form.valid"
    *ngIf="!isEditing"
    (click)="addMember()"
  >
    Añadir persona
  </button>

  <button
    mat-button
    type="submit"
    color="primary"
    *ngIf="isEditing"
    (click)="updateMember(memberToUpdate)"
  >
    Actualizar datos
  </button>
</form>

<!-- TABLA DE SOCIOS -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
  <!-- Socio -->
  <ng-container matColumnDef="demo-position">
    <th mat-header-cell *matHeaderCellDef>Numero de socio</th>
    <td mat-cell *matCellDef="let element">{{ element.socio }}</td>
  </ng-container>

  <!-- Nombre -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let element">{{ element.nombre }}</td>
  </ng-container>

  <!-- Apellidos -->
  <ng-container matColumnDef="apellidos">
    <th mat-header-cell *matHeaderCellDef>Apellidos</th>
    <td mat-cell *matCellDef="let element">{{ element.apellidos }}</td>
  </ng-container>

  <!-- DNI -->
  <ng-container matColumnDef="dni">
    <th mat-header-cell *matHeaderCellDef>DNI</th>
    <td mat-cell *matCellDef="let element">{{ element.dni }}</td>
  </ng-container>

  <!-- Teléfono -->
  <ng-container matColumnDef="telefono">
    <th mat-header-cell *matHeaderCellDef>Teléfono</th>
    <td mat-cell *matCellDef="let element">{{ element.telefono }}</td>
  </ng-container>

  <!-- Sexo -->
  <ng-container matColumnDef="sexo">
    <th mat-header-cell *matHeaderCellDef>Sexo</th>
    <td mat-cell *matCellDef="let element">{{ element.sexo }}</td>
  </ng-container>

  <ng-container matColumnDef="buttons">
    <th mat-header-cell *matHeaderCellDef>Modificar</th>
    <td mat-cell *matCellDef="let element; let i = index">
      <button
        mat-button
        type="submit"
        color="primary"
        (click)="editMember(element)"
      >
        Editar
      </button>
      <button
        mat-button
        type="submit"
        color="primary"
        (click)="deleteMember(i)"
      >
        Eliminar
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
