<h1>Listado de personas</h1>
<form class="person-form" [formGroup]="form">
  <legend>Añade una persona</legend>
  <!-- Nombre -->
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Nombre:</mat-label>
    <input
      matInput
      type="text"
      placeholder="nombre"
      value="nombre"
      formControlName="nombre"
      minlength="3"
      required
      (ngModel)="(form.controls['nombre'])"
      #nombre
    />
    <mat-error
      [ngStyle]="{ color: 'red' }"
      *ngIf="
        form.controls['nombre'].invalid &&
        (form.controls['nombre'].dirty || form.controls['nombre'].touched)
      "
    >
      <div *ngIf="form.controls['nombre'].hasError('required')">
        El campo nombre es obligatorio.
      </div>
      <div *ngIf="form.controls['nombre'].hasError('minlength')">
        El campo nombre debe tener al menos 3 caracteres.
      </div>
    </mat-error>
  </mat-form-field>
  <!-- Apellidos -->
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Apellidos:</mat-label>
    <input
      matInput
      type="text"
      placeholder="apellidos"
      value="apellidos"
      formControlName="apellidos"
      minlength="3"
      required
    />
    <mat-error
      [ngStyle]="{ color: 'red' }"
      *ngIf="
        form.controls['apellidos'].invalid &&
        (form.controls['apellidos'].dirty || form.controls['apellidos'].touched)
      "
    >
      <div *ngIf="form.controls['apellidos'].hasError('required')">
        El campo apellidos es obligatorio.
      </div>
      <div *ngIf="form.controls['apellidos'].hasError('minlength')">
        El campo apellidos debe tener al menos 3 caracteres.
      </div>
    </mat-error>
  </mat-form-field>
  <!-- Edad -->
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Edad:</mat-label>
    <input
      matInput
      type="number"
      formControlName="edad"
      placeholder="Edad"
      min="0"
      max="125"
      required
    />
    <mat-error
      [ngStyle]="{ color: 'red' }"
      *ngIf="
        form.controls['edad'].invalid &&
        (form.controls['edad'].dirty || form.controls['edad'].touched)
      "
    >
      <div *ngIf="form.controls['edad'].hasError('required')">
        El campo edad es obligatorio.
      </div>
      <div *ngIf="form.controls['edad'].hasError('min')">
        La edad mínima debe de ser 0
      </div>
      <div *ngIf="form.controls['edad'].hasError('max')">
        La edad máxima debe de ser 125
      </div>
    </mat-error>
  </mat-form-field>
  <!-- DNI -->
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>DNI:</mat-label>
    <input
      matInput
      type="text"
      placeholder="DNI"
      value="dni"
      formControlName="dni"
      maxlength="9"
      required
    />
    <mat-error
      [ngStyle]="{ color: 'red' }"
      *ngIf="
        form.controls['dni'].invalid &&
        (form.controls['dni'].dirty || form.controls['dni'].touched)
      "
    >
      <div *ngIf="form.controls['dni'].hasError('required')">
        El campo DNI es obligatorio.
      </div>
      <div *ngIf="form.controls['dni'].hasError('maxlength')">
        El campo DNI debe tener un máximo de 9 caracteres.
      </div>
    </mat-error>
  </mat-form-field>
  <!-- Cumpleaños -->
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Nombre:</mat-label>
    <input
      matInput
      type="date"
      placeholder="Cumpleaños"
      formControlName="cumpleanios"
      minlength="3"
      required
    />
    <mat-error
      [ngStyle]="{ color: 'red' }"
      *ngIf="
        form.controls['cumpleanios'].invalid &&
        (form.controls['cumpleanios'].dirty ||
          form.controls['cumpleanios'].touched)
      "
    >
      <div *ngIf="form.controls['cumpleanios'].hasError('required')">
        El campo Cumpleaños es obligatorio.
      </div>
    </mat-error>
  </mat-form-field>
  <!-- Color favorito -->
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Color favorito:</mat-label>
    <input
      matInput
      type="color"
      formControlName="colorFavorito"
      minlength="3"
      required
    />
    <mat-error
      [ngStyle]="{ color: 'red' }"
      *ngIf="
        form.controls['colorFavorito'].invalid &&
        (form.controls['colorFavorito'].dirty ||
          form.controls['colorFavorito'].touched)
      "
    >
      <div *ngIf="form.controls['colorFavorito'].hasError('required')">
        El campo Color favorito es obligatorio.
      </div>
      <div *ngIf="form.controls['colorFavorito'].hasError('minlength')">
        El campo Color favorito debe tener al menos 3 caracteres.
      </div>
    </mat-error>
  </mat-form-field>
  <!-- Género -->
  <mat-form-field appearance="fill">
    <mat-label>Género</mat-label>
    <mat-select formControlName="genero" required>
      <mat-option>Selecciona un género</mat-option>
      <!-- En mat-option deberia poner [value]="i" pero luego al pintarlo me pinta el index en vez de el contenido -->
      <mat-option
        *ngFor="let gender of genderSelect(); let i = index"
        [attr.data-index]="i"
        [value]="gender"
        >{{ gender }}</mat-option
      >
    </mat-select>
    <mat-error
      [ngStyle]="{ color: 'red' }"
      *ngIf="
        form.controls['genero'].invalid &&
        (form.controls['genero'].dirty || form.controls['genero'].touched)
      "
    >
      <div *ngIf="form.controls['genero'].hasError('required')">
        El campo género es obligatorio.
      </div>
    </mat-error>
  </mat-form-field>
  <!-- Botones -->
  <div id="form-buttons" #formButtons>
    <button
      mat-button
      type="submit"
      (click)="addPerson()"
      color="primary"
      [disabled]="!form.valid"
    >
      Añadir persona
    </button>

    <button mat-button type="submit" color="primary" [disabled]="!form.valid">
      Enviar
    </button>
  </div>
  <div id="updated-buttons" #updatedButtons>
    <button
      mat-button
      type="submit"
      color="primary"
      [disabled]="!form.valid"
      (click)="updatePerson()"
    >
      Modificar
    </button>

    <button
      mat-button
      type="submit"
      color="primary"
      [disabled]="!form.valid"
      (click)="cancelUpdatePerson()"
    >
      Cancelar
    </button>
  </div>
</form>
<!-- Lista de personas -->
<mat-grid-list cols="3">
  <mat-grid-tile *ngFor="let person of people; let i = index">
    <mat-card class="">
      <mat-card-title
        >Nombre: {{ nombre.value }} Apellidos:
        {{ person.apellidos }}</mat-card-title
      >
      <mat-card-subtitle></mat-card-subtitle>
      <mat-card-content>
        <p>Edad: {{ person.edad }}</p>
        <p>DNI: {{ person.dni }}</p>
        <p>Cumpleaños: {{ person.cumpleanios }}</p>
        <p>Color favorito: {{ person.colorFavorito }}</p>
        <p>Género: {{ person.genero }}</p>
      </mat-card-content>
      <mat-divider inset></mat-divider>
      <mat-card-actions>
        <button
          mat-button
          type="submit"
          color="primary"
          (click)="editPerson(person)"
        >
          Editar
        </button>
        <button
          mat-button
          type="submit"
          color="primary"
          (click)="deletePerson(people, i)"
        >
          <!-- <button
          mat-button
          type="submit"
          color="primary"
          (click)="(click)="people.splice(i, 1)""
        > -->
          Eliminar
        </button>
      </mat-card-actions>
      <mat-card-footer> </mat-card-footer>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
